.left-content {
    width: 100%;
    height: 270px;
    background-color: #fff;
    border-radius: 2px;
    padding: 125px 13px 13px 13px;
    margin-bottom: 2px;
}

.follow-button {
    width: 100px;
    height: 37px;
    background-color: #53d690;
    color: #fff;
    border: none;
    text-transform: capitalize;
    border-radius: 4px;
    margin-left: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}

.plus-icon {
    margin-right: 6px;
}

.followers-wrapper {
    display: flex;
    text-align: center;
    text-transform: capitalize;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 35px;
}

.following {
    margin-right: 5px;
    font-size: 17px;
}

.following-text {
    margin-bottom: 10px;
    color: #6F6E6C;
}

.following-number {
    font-weight: bold;
}

.followers {
    margin-left: 5px;
    font-size: 17px;
}

.following-text {
    margin-bottom: 10px;
    color: #6F6E6C;
}

.following-number {
    font-weight: bold;
}

@media (max-width: 500px) {
    .left-content {
        display: none;
    }
}